body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-areas:
        "divechart diveslate"
        "diveplan diveconfig";
    grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 1fr;
}

nav {
    background-color: #06263a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center Vertical */
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    display: inline-block;
    padding-left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: darkgreen;
}

.logo img {
    width: 100px;
    vertical-align: middle;
}

.divechart {
    grid-area: divechart;
    min-height: 200px;
    background-color:  	#175963;
    padding: 20px;
}

.diveslate {
    grid-area: diveslate;
    width: 100%;
    background-color: #175963c2;
}




.diveplan {
    grid-area: diveplan;
    background-color: #fff;
}

.diveconfig {
    grid-area: diveconfig;
    background-color: #06263a;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.diveconfig label {
    color: #eee;
    text-align: right;
}

.diveconfig input {
    height: 18px;
    width: 60px;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
}

.table-row {
    display: grid;
    grid-template-columns: 120px repeat(8, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    justify-items: right;
    align-items: center;
}

.data-row:nth-child(odd) {
    background: #17596338;
}

.table-row .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.table-row button {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 4px;
    font-size: 9pt;
    border: none;
    font-weight: bold;
    color: blue;
}
.table-row input {
    text-align: right;
    width: 100%;
}

.table-row input.ascend,
.table-row input.descend,
.table-row input.reserve-vol  {
    background: transparent;
    color: #888;
}

.ascend-row,
.descend-row,
.reserve-row {
    color: #888;
    background-color:  #fff;

    padding-top: 2px;
}

.ascend-row i,
.descend-row i,
.reserve-row i,
.data-row i {
    margin-right: 5px;
    float: right;
}

.ascend-row span,
.descend-row span,
.reserve-row span,
.data-row span {
    margin-right: 10px;
}

.header-row {
    color: #fff;
    background: #06263a;
    justify-items: right;
    padding-top: 5px;
}

.total-table {
}

.total-field {
    border: none;
    font-weight: bold;
}

.total-field input {
    margin-right: 20px;
}

.edit-field {
    border: none;
    border-bottom: 1px solid #ccc;
}

.ro-field {
    border: none;
    background: transparent;
}

.reserve-label {
    display: block;
    padding-top: 5px;
}

.gas-out {
    background-color: red;
    color: white;
}

.gas-warn {
    background-color: orange;
    color: white;
}

.gas-plenty {
    background-color: green;
    color: white;
}

.center {
    text-align: center;
}


.diveslate .table {
    margin: 20px 20px;
    background: white;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.diveslate .table-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.diveslate input {
    text-align: center !important;
}

.slate-heading {
    display: block;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-areas:
            "divechart"
            "diveplan"
            "diveslate"
            "diveconfig";
        grid-template-rows: 1fr;
        grid-template-columns: 100vw;
    }

    .table-row {
        grid-template-columns: 30px repeat(6, 1fr) 5px;
    }

    .diveslate .table-row {
        grid-template-columns: repeat(3, 1fr);
    }

    .run-vol {
        display: none;
    }

    .run-time {
        display: none;
    }

    .table-label {
        display: none;
    }
}

