body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-areas:
        "divechart divechart"
        "diveplan diveconfig";
    grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 1fr;
}

nav {
    background-color: #06263a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    display: inline-block;
    padding-left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: darkgreen;
}

.logo img {
    width: 100px;
    vertical-align: middle;
}

.divechart {
    grid-area: divechart;
    min-height: 200px;
    background-color:  	#175963;
    padding: 20px;
}

.diveplan {
    grid-area: diveplan;
    background-color: #fff;
}

.diveconfig {
    grid-area: diveconfig;
    background-color: #06263a;
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.diveconfig label {
    text-align: right;
    color: #eee;
}

.diveconfig input {
    height: 18px;
    width: 60px;
}

.table {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.table-row {
    display: grid;
    padding: 0px 10px 10px 0px;
    grid-template-columns: repeat(5, 1fr) 120px;
    grid-gap: 10px;
}

.table-row button {
    height: 100%;
    font-size: 11pt;
    border: none;
    font-weight: bold;
    color: blue;
}
.table-row input {
    width: 100%;
    text-align: right;
}

.table-row input.ascend,
.table-row input.descend {
    width: 80%;
    float: right;
    margin-right: -2px;
    background: transparent;
}

.table-col {
    text-align: right;
}

.table-label {
    display: block;
    text-align: left;
}

.ascend-row,
.descend-row {
    color: #666;
    background-color:  #fff;
}

.ascend-row i,
.descend-row i {
    padding: 2px;
}

.header-row {
    color: #666;
    text-align: center;
}
.total-table {
    margin-top: 10px;
    border-top: 1px solid black;
}

.total-field {
    border: none;
    font-weight: bold;
}

.total-field input {
    margin-right: 20px;
}

.edit-field {
    border: none;
    border-bottom: 1px solid #ccc;
}

.ro-field {
    border: none;
    background: transparent;
}

.reserve-label {
    display: block;
    padding-top: 5px;
}

.gas-out {
    background-color: red;
    color: white;
}

.gas-warn {
    background-color: orange;
    color: white;
}

.gas-plenty {
    background-color: green;
    color: white;
}

.center {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-areas:
            "divechart"
            "diveplan"
            "diveconfig";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

