body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-areas:
        "divechart"
        "diveplan";
    grid-template-rows: minmax(250px, 1fr) 1fr;
    grid-template-columns: 1fr;
}

nav {
    background-color: #06263a;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center; /* Center Vertical */
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    display: inline-block;
    padding-left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: darkgreen;
}

.logo img {
    width: 100px;
    vertical-align: middle;
}

.divechart {
    grid-area: divechart;
    margin-top: 40px;
    min-height: 200px;
    background-color:  	#175963;
    padding: 20px;
}

.divechart canvas {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
}

.diveslate {
    display: none;
    float: left;
    position:absolute;
    z-index: 99;
    top: 40px;
    width: 100vw;
    height: 100vh;
    background-color: #175963c2;
    overflow-y: scroll;
}

.diveplan {
    grid-area: diveplan;
    background-color: #fff;
}

.diveconfig {
    float: right;
    position: absolute;
    top: 40px;
    left: 100vw;
    margin: 0px;
    padding: 20px;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #07324d;
}

a.active {
    background: #fff;
    color: orangered;  
}

.diveconfig label {
    color: #eee;
    text-align: right;
    font-size: 13px;
}

.diveconfig input {
    height: 18px;
    width: 100%;
    text-align: right;
    font-size: 13px;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
}

.table-row {
    display: grid;
    grid-template-columns: 120px repeat(7, 1fr) 60px 1px;
    column-gap: 10px;
    row-gap: 5px;
    justify-items: right;
    align-items: center;
}

.data-row:nth-child(odd) {
    background: #17596338;
}

.table-row .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 30px;
    align-items: center;
}
.table-row button {
    display: block;
    width: 100%;
    height: 95%;
    margin: 2px;
    font-size: 12pt;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    background-color: #06263a;
}
.table-row input {
    text-align: right;
    width: 100%;
}

.table-row input.ascend,
.table-row input.descend,
.table-row input.reserve-vol  {
    background: transparent;
    color: #888;
}

.ascend-row,
.descend-row,
.reserve-row {
    color: #888;
    background-color:  #fff;

    padding-top: 2px;
}

.ascend-row i,
.descend-row i,
.reserve-row i,
.data-row i {
    margin-right: 5px;
    float: right;
}

.ascend-row span,
.descend-row span,
.reserve-row span,
.data-row span {
    margin-right: 10px;
}

.header-row {
    width: 100%;
    color: #fff;
    background: #06263a;
    justify-items: right;
    padding-top: 5px;
}

.total-table {
}

.total-field {
    border: none;
    font-weight: bold;
}

.total-field input {
    margin-right: 20px;
}

.edit-field {
    border: none;
    background: palegoldenrod;
}


.edit-field {
    border: 2px solid white ;
}

.edit-field:focus {
    border: 2px solid blue !important;
}

.ro-field {
    border: none;
    background: transparent;
}

.reserve-label {
    display: block;
    padding-top: 5px;
}

.gas-out {
    background-color: red;
    color: white;
}

.gas-warn {
    background-color: orange;
    color: white;
}

.gas-plenty {
    background-color: green;
    color: white;
}

.center {
    text-align: center;
}


.diveslate .table {
    margin: 20px 20px;
    background: white;
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.diveslate .table-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.diveslate input {
    text-align: center !important;
}

.slate-heading {
    display: block;
    padding-top: 20px;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    main {
        height: 100vh;
        grid-template-areas:
            "divechart"
            "diveplan";
        grid-template-rows: 200px minmax(250px, 1fr);
        grid-template-columns: 1fr;
    }

    .diveplan {
        overflow-y: scroll;
    }
    .table-row {
        grid-template-columns: 30px repeat(5, 1fr) 60px 1px;
    }

    .diveslate .table-row {
        grid-template-columns: repeat(3, 1fr);
    }

    .run-vol {
        display: none;
    }

    .run-time {
        display: none;
    }

    .table-label {
        display: none;
    }
}

